<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>STonKS</title>
</head>

<body>
    <div class = "emptyDb">
        <h2>There are no more posts.</h2>
    </div>
</body>