<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>STonKS</title>
</head>
<body>
    <div class = "post">
        <h2>Title</h2>
        <span><%= post.name%></span>
        <h2>Body</h2>
        <span><%= post.button%></span>
    </div>
    <div>
        <button id = "bullish-button">Bullish</button>
        <button id = "bearish-button">Bearish</button>
    </div>
    <div>
        <button id = "delete-button">Delete</button>
    </div>

    <script src = "/main.js"></script>
</body>
</html>